<div class="animated fadeIn ">
    <div class="input-group ">
        <div class="input-group-prepend">
            <span class="input-group-text">Nombre del problema: </span>
        </div>
        <br>
        <br>
        <br>
        <div class="input-group">
            <input type="text" class="form-control" id="text" name="texto" autofocus>
        </div>
        <br>
        <br>
        <div class="input-group-append">
            <button class="btn btn-success" type="button">Agregar</button>
        </div>
    </div>
</div>