<div class="mb-3 animated fadeIn fast">
    <div class="input-group is-invalid">
        <div class="input-group-prepend">
            <span class="input-group-text">Problema:</span>
        </div>
        <input type="text" class="form-control" placeholder="" aria-label="Username" aria-describedby="basic-addon1">
    </div>
    <br>
    <br>
    <div class="input-group">
        <div class="input-group-prepend">
        <span class="input-group-text">Descripción</span>
        </div>
        <textarea class="form-control" aria-label="With textarea"></textarea>
    </div>
    <br>
    <br>
    <br>
    <button class="btn btn-success" type="button">Agregar</button>
</div>
  